<!DOCTYPE html>
<html>
<head>
  <title>AVOTE - Online Voting Solution</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
</head>
<body>
  <main class="container">
    <img src="images/AVOTE.png" style="width: 25%; margin-left: 1%"/>
    <div class="row">
      <div class="col s12">
        <h5>Vote en cours</h5>
      </div>
      <div id="voteBloc" class="col s12">

      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <h5>Créer un vote</h5>
      </div>
      <div class="input-field col s6">
        <input placeholder="Candidats" id="candidateList" type="text" class="validate">
        <label for="candidateList">Nom des candidats (séparé par un virgule)</label>
      </div>
      <div class="col s6"><a onclick="createVote()" class="btn btn-primary">Créer</a></div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        © 2018 BnB
        <a class="grey-text text-lighten-4 right">A propos</a>
      </div>
    </div>
  </footer>
</body>
<script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script  type="text/javascript" src="javascripts/index.js"></script>
</html>
