<!DOCTYPE html>
<html>
    <head>
        <title>BnB - Passion as a Motivation</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    </head>
    <body>
        <main>
            <div class="row">
                <div class="col s12" style="text-align: center; margin: 20vh 0px 5vh 0px;"><img src="images/Bnb.png"/></div>
            </div>
            <div class="row" style="margin-top: 8vh">
                <div class="col s12" style="text-align: center"><a class="waves-effect waves-light btn-large" href="/bet"><i class="material-icons right">send</i>avote</a></div>
            </div>
        </main>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    © 2018 BnB
                    <a class="grey-text text-lighten-4 right">A propos</a>
                </div>
            </div>
        </footer>
    </body>
    <script src="https://cdn.rawgit.com/ethereum/web3.js/develop/dist/web3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
</html>
